html
{
	background-image: url('background.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment: fixed;
	background-size: cover;
}

.title
{
	padding: 0;
	margin: 0;
	border: 0;
	color: #f5f7cd;
	font-size: 45px;
	font-family: Arial Black;
	position: absolute;
	top: 0;
	left: 40%;
}

canvas
{
	position: absolute;
	top: 30%;
	left: 11.5%;
	background-color: #f5f7cd;
}

#button_container
{
	background-color: none;
	position: absolute;
	top: 11%;
	left: 20%;
	width: 60%;
	height: 6%;
}

.button
{
	background: #FF9973;
	border: none;
	color: #000035;
	font-size: 20px;
	font-family: Trebuchet MS;
	position: absolute;
	width:25%;
	height:100%;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
}

.button:nth-child(1)
{
	top:0;
	left:23%;
}

.button:nth-child(2)
{
	top:0;
	left:50%;
}

.button:nth-child(3)
{
	top:0;
	right:5%;
	background: #9797FF;
	width: 7%;
}

#radiustext
{
	color: #f5f7cd;
	position: absolute;
	top: 20.3%;
	left: 50%;
	padding: 0;
	margin: 0;
}

#radiusinput
{
	position: absolute;
	top: 20%;
	left: 54%;
	width: 10%;
	outline: none;
}

#flood
{
	color: #f5f7cd;
	position: absolute;
	padding:0;
	margin:0;
	top: 30%;
	right: 4%;
}

#flood_buttoncontainer
{
	background-color: none;
	position: absolute;
	top: 34%;
	right: 1.5%;
	width: 10%;
	height: 10%;
}

.floodbutton
{
	background: #FF9973;
	border: none;
	color: #000035;
	font-size: 20px;
	font-family: Trebuchet MS;
	position: absolute;
	width:40%;
	height:50%;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
}

.floodbutton:nth-child(1)
{
	top: 0;
	left: 5%;
	background: #5CFF5C;
}

.floodbutton:nth-child(2)
{
	top: 0;
	right: 5%;
	background: #5CFF5C;
}

.floodbutton:nth-child(3)
{
	top: 80%;
	left: 5%;
	background: plum;
}

.floodbutton:nth-child(4)
{
	top: 80%;
	right: 5%;
	background: plum;
}

#colorinput
{
	position:absolute;
	top: 20%;
	right: 3%;
	width: 5%;
}

#colortext
{
	color: #f5f7cd;
	position: absolute;
	top: 20%;
	left: 77%;
	padding: 0;
	margin: 0;
}

#boundary
{
	color: #f5f7cd;
	position: absolute;
	padding:0;
	margin:0;
	top: 60%;
	right: 3%;
}

#boundary_buttoncontainer
{
	background-color: none;
	position: absolute;
	top: 64%;
	right: 1.5%;
	width: 10%;
	height: 10%;
}

.boundarybutton
{
	background: #FF9973;
	border: none;
	color: #000035;
	font-size: 20px;
	font-family: Trebuchet MS;
	position: absolute;
	width:40%;
	height:50%;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
}

.boundarybutton:nth-child(1)
{
	top: 0;
	left: 5%;
	background: #5CFF5C;
}

.boundarybutton:nth-child(2)
{
	top: 0;
	right: 5%;
	background: #5CFF5C;
}

.boundarybutton:nth-child(3)
{
	top: 80%;
	left: 5%;
	background: plum;
}

.boundarybutton:nth-child(4)
{
	top: 80%;
	right: 5%;
	background: plum;
}

#blackboundary
{
	background-color: plum;
	position: absolute;
	top:1%;
	left:1%;
	display: block;
}